node_modules
.turbo
dist
.next
out
.env
.env.local
.env.*.local
data/source/
*.pmtiles

# Firebase
firebase-debug.log
firebase-debug.*.log
.firebase/
scripts/serviceAccount.json

# Data files
data/raw/
data/meta/
public/geo/
apps/web/public/geo/
apps/web/public/data/meta/

