rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 사용자가 자신의 데이터에만 접근할 수 있도록 허용
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 피드백 제출은 누구나 가능하게 (필요한 경우)
    match /feedbacks/{id} {
      allow create: if true;
    }
  }
}
